
.app-container {
  display: flex;
  height: 100vh; 
}

.table-container,
.chart-container {
  flex: 1;
  padding: 20px;
  overflow: auto; 
}

.chart-container {
  background-color: #f0f0f0; 
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd; 
}

th {
  background-color: #f2f2f2; 
}
